# Ignore node_modules (sẽ được cài lại trong Docker)
node_modules
npm-debug.log
yarn-error.log

# Ignore output folders
.next
out
dist
coverage

# Ignore local env files — nhưng giữ lại file build dùng
.env.local
.env.development
.env.test
!.env.production 

# VSC, OS files
.vscode
.DS_Store
*.swp
*.swo

# Git
.git
.gitignore
